@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: black;
    color: white;
}

.titulo-destaque {
    color: #E70000;
}

.apresentacao {
    padding: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 606px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.apresentacao__conteudo__titulo {
    font-size: 40px;
    font-family: 'Acme', sans-serif;
}

.apresentacao__conteudo__paragrafo {
    font-weight: 100;
    font-size: 26px;
    font-family: 'Acme', sans-serif;
}

.apresentacao__conteudo__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: 'Acme', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__conteudo__links__botao {
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
    width: 370px;
    text-align: center;
    border: 2px solid #B10000;
    border-radius: 7px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color: #F6F6F6;
    font-family: 'Acme', sans-serif;
}

.apresentacao__conteudo__links__botao:hover {
    background-color: #272727;
    padding: 5%;
}

.rodape {
    padding: 24px;
    color: black;
    background-color: #B10000;
    text-align: center;
    font-family: 'Acme', sans-serif;
    font-size: 24px;
    font-weight: 100;
}