@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #B10000;
    --cor-quaternaria: #E70000;
    --cor-hover: #272727;

    --fonte-principal: 'Acme', sans-serif;
} 

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 3% 0% 1% 15%;
    border-bottom: 2px solid var(--cor-terciaria);
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-principal);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.cabecalho__menu__link:hover {
    text-decoration: underline;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 606px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.5rem;
    font-family: var(--fonte-principal);
}

.titulo-destaque {
    color: var(--cor-quaternaria);
}

.apresentacao__conteudo__paragrafo {
    font-weight: 100;
    font-size: 1.6rem;
    font-family: var(--fonte-principal);
}

.apresentacao__conteudo__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__conteudo__links__botao {
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
    width: 370px;
    text-align: center;
    border: 2px solid var(--cor-terciaria);
    border-radius: 7px;
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-principal);
}

.apresentacao__conteudo__links__botao:hover {
    background-color: var(--cor-hover);
}

.rodape {
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-principal);
    font-size: 1.5rem;
    font-weight: 100;
}

.lista__formacoes {
    text-decoration: none;
    color: var(--cor-terciaria);
}

.lista__formacoes:hover {
    text-decoration: underline;
}